<!doctype html>
<html amp="amp" lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async custom-element="amp-fx-collection" src="https://cdn.ampproject.org/v0/amp-fx-collection-0.1.js"></script>
    <title>{{title}}</title>
    <link rel="canonical" href="https://ReasonScore.com{{page.url}}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "{{title}}",
        "datePublished": "{{datePublished}}",
        "image": ["/img/logo.png"]
      }
    </script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700)">
    <style amp-custom="amp-custom">
      {% maincss "" %}
    </style>
  </head>
  <body>
    <header class="headerbar">
    <div style="display: flex;
        align-items: center;
        margin: auto; max-width: 1140px; padding: 0 15px;">
      <div class="site-name">
      <a href="/">
        Bentley Davis
      </a>
      </div>
      <ul class="topnav">
        <li><a href="/blog">Blog</a></li>
        <li><a href="/calendar">Calendar</a></li>
      </ul>
      <div role="button" on="tap:sidebar1.toggle" tabindex="0" class="hamburger">MENU</div>
    </header>
    </div>
    <amp-sidebar id="sidebar1" layout="nodisplay" side="right" style="background-color: hsl(212, 29%, 60%);">
      <div role="button" aria-label="close sidebar" on="tap:sidebar1.toggle" tabindex="0" class="close-sidebar">✕</div>
      <ul class="sidebar">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/calendar">Calendar</a></li>
      </ul>
    </amp-sidebar>
    {{ content | safe }}
    <br>
    <amp-iframe width="480" height="320"
      src="https://bentleydavis.substack.com/embed"
      sandbox="allow-scripts allow-same-origin allow-popups"
      frameborder="0"
      scrolling="no" 
      style="margin: 0 auto; display: block;"
    >
      <div overflow
        tabindex="0"
        role="button"
        aria-label="Show more">...
      </div>
    <div placeholder>Loading Bentley's newsletter signup form...</div>
    </amp-iframe>
    <br>
  </body>
</html>