<!doctype html>
<html amp="amp" lang="en">
  <head>
    <meta charset="utf-8">
    {# Fav Icon #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    {# AMP #}
    <script async="async" src="https://cdn.ampproject.org/v0.js"></script>
    <script async="async" custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async="async" custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async="async" custom-element="amp-fx-collection" src="https://cdn.ampproject.org/v0/amp-fx-collection-0.1.js"></script>
    <title>{{title}}</title>
    <link rel="canonical" href="https://BentleyDavis.com{{page.url}}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script type="application/ld+json">
      {
        "author.name": "Bentley Davis",
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "{{title}}",
        "datePublished": "{{datePublished}}",
        "image": ["https://BentleyDavis.com{{img}}"]
      }
    </script>
    {# Facebook #}
    <meta property="og:url" content="https://BentleyDavis.com{{page.url}}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:description" content="{{description}}"/>
    <meta property="og:image" content="https://BentleyDavis.com{{img}}"/>
    {# twitter #}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bntlyd">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:creator" content="@bntlyd">
    <meta name="twitter:image" content="https://BentleyDavis.com{{img}}">
    <meta name="twitter:domain" content="BentleyDavis.com">
    {# AMP boilerplate#}
    <style amp-boilerplate="amp-boilerplate">
      body {
        -webkit-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
        -moz-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
        -ms-animation: -amp-start 8s steps(1,end) 0s 1 normal both;
        animation: -amp-start 8s steps(1,end) 0s 1 normal both;
      }
      @-webkit-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-moz-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-ms-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-o-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
    </style>
    <noscript>
      <style amp-boilerplate="amp-boilerplate">
        body {
          -webkit-animation: none;
          -moz-animation: none;
          -ms-animation: none;
          animation: none;
        }
      </style>
    </noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700)">
    <style amp-custom="amp-custom">
      {% fileImport "main.css" %}
      {% block styles %}{% endblock %}
    </style>
    {% block head %}{% endblock %}
  </head>
  <body>
    <header class="headerbar">
      <div style="display: flex;
        align-items: center;
        margin: auto; max-width: 1140px; padding: 0 15px;">
        <div class="site-name">
          <a href="/">
            <svg style="fill: white;width: 1.2em;display: inline-block;vertical-align: bottom;" viewbox="0 0 100 100">
              <path d="m10 10c-0.434 2.51 0.243 3.91 3.14 3.47 4.01 0.143 7.94 3.04 7.28 7.41-0.0206 19.4 0.0414 38.7-0.0312 58.1 0.252 4.26-3.04 8.08-7.46 7.69-2.66-0.477-3.36 0.756-2.93 3.14 1 0.414 2.77 0.0594 4.07 0.178 13.1-0.044 26.2 0.0905 39.3-0.072 13.1-0.505 26.1-7.87 32.1-19.8 6.51-12.8 6.01-28.8-0.734-41.5-5.69-10.7-17.1-18-29.3-18.6-12.7-0.236-25.4-0.043-38.1-0.106zm29.8 4.97c4.15-0.104 8.93 0.517 11.4 4.33 4.47 6.54 4.75 15.8 0.99 22.7-4.71 6.27-12.1 5.39-18.9 5.39 0.106-9.4-0.278-18.8 0.359-28.2 0.172-3.82 2.79-4.45 6.14-4.22zm23.3 4.39c9.07 7.39 12.1 19.7 12.1 30.9 0.0375 9.02-1.28 18.8-7.3 25.9 3.37-8.2 0.434-18.7-7.3-23.3-3.29-2.1-7.1-3.24-10.9-3.83 7.37-1.02 15.2-5.34 17.1-13 1.56-5.72 0.188-12.2-3.68-16.7zm-29.9 31c5.34 0.256 11.2-0.996 15.9 2.21 6.6 4.4 7.66 13.4 6.49 20.6-0.667 5.35-4.42 10.6-10 11.5-3.65 0.261-8.55 1.36-11.4-1.16-1.64-4.81-0.84-10-1.03-15z"/>
            </svg>
            Bentley Davis
          </a>
        </div>
        <ul class="topnav">
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/schedule">Schedule</a>
          </li>
          <li>
            <a href="/calendar">Calendar</a>
          </li>
        </ul>
        <div role="button" on="tap:sidebar1.toggle" tabindex="0" class="hamburger">MENU</div>
      </header>
    </div>
    <amp-sidebar id="sidebar1" layout="nodisplay" side="right" style="background-color: hsl(212, 29%, 60%);">
      <div role="button" aria-label="close sidebar" on="tap:sidebar1.toggle" tabindex="0" class="close-sidebar">✕</div>
      <ul class="sidebar">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/schedule">Schedule</a>
        </li>
        <li>
          <a href="/calendar">Calendar</a>
        </li>
      </ul>
    </amp-sidebar>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
    <br>
    {% fileImport "newsletterSignup.html" %}
    <br>
  </body>
</html>