<div class="card-deck">
    {%- for item in items | reverse -%}
        <a href="{{item.url}}">
            <div class="card">
                {% if item.data.img %}
                    <amp-img class="card-img-top" src="{{item.data.img}}" alt="{{ item.data.title }}" layout="responsive" height="200" width="200" ></amp-img>
                {% else %}
                    <div class="bigtext" >{{ item.data.title }}</div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ item.data.title }}</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </a>
    {%- endfor -%}
</div>