<div class="card-deck">
    {%- for item in items | reverse -%}
        {% set regExp = r/fragment/g %}
        {% if regExp.test(item.inputPath) == false and item.data.draft != true %}
            <a class="card" href="{{item.url}}">
                {% if item.data.img %}
                    <amp-img class="card-img-top {{ item.data.imgPosition if item.data.imgPosition }}" src="{{item.data.img}}" alt="{{ item.data.title }}" layout="responsive" height="200" width="200"></amp-img>
                {% else %}
                    <div class="bigtext" >{{ item.data.title }}</div>
                {% endif %}
                <div class="card-body">
                    <h3 class="card-title">{{ item.data.title }}</h3>
                    <p class="card-text">
                        {% set stringItems = item.data.item.categories %}
                        {% include 'stringItems.njk' %}{{", " if item.data.item.categories and item.data.item.skillNames}}
                        {%- for skillId in item.data.item.skillIds -%}
                        {% if external[skillId] %}
                            <span class="url-icon">
                                <amp-img class="contain" layout="fill" src="{{external[skillId].data.logo}}" alt="{{item.id}} logo"></amp-img>
                            </span>
                        {% else %}
{{dict[skillId].title}}
                        {% endif %}
                        {%- endfor -%}
                    </p>
                </div>
            </a>
        {% endif %}
    {%- endfor -%}
</div>