---
layout: base.njk
---
<div class="content">
    {% if img %}
        <div class="content-post-image">
            <amp-img
                class="contain"
                layout="fill"
                src="{{ img }}"
                alt="{{ title }}"
            ></amp-img>
        </div>
    {% endif %}
    <span style="font-size: x-small;">
        {% formatDate page.date %}
    </span>
    <h1>{{ title }}</h1>
    {{ content | safe }}
</div>