---
layout: base.njk
tags: post
---
<div class="content">
<div class="fixed-height-container">
    <amp-img
        class="contain"
        layout="fill"
        src="{{ img }}"
        alt="{{ title }}"
    ></amp-img>
</div>
    <span style="font-size: x-small;">
        {% formatDate page.date %}
    </span>
    <h1>{{ title }}</h1>
    {{ content | safe }}
</div>