---
img: /Better_Group_Decisions/index.png
title: "Beter Group Decisions" 
draft: false
date: 2020-01-01
---
{% block post %}
  {% include './index.fragment.html' %}
 {% endblock %}

{% block styles %}
  {% include './index.css' %}
{% endblock %}

{% block head %}
  <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
{% endblock %}

{% extends "_includes/post.njk" %}
