---
layout: page.njk
title: Bentley's Blog
---
<div class="content">    
    <h1>Bentley's Blog</h1>
    <div class="card-deck">
        {%- for post in collections.post | reverse -%}
            <a href="{{post.url}}">
                <div class="card">
                    <amp-img class="card-img-top" src="{{post.data.img}}" alt="{{ post.data.title }}" layout="responsive" height="200" width="200" ></amp-img>
                    <div class="card-body">
                        <h5 class="card-title">{{ post.data.title }}</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        {%- endfor -%}
    </div>
</div>