---
img: /Interactive_Textbooks/Touchstone_Galileo_Portrait_Light_Mode.gif
title: "Interactive Textbooks" 
draft: false
---
{% block post %}
  {% include './index.fragment.html' %}
 {% endblock %}

{% block styles %}
  {% include './index.css' %}
{% endblock %}

{% extends "_includes/post.njk" %}
