---
pagination:
    data: content.data.Content
    size: 1
    alias: item
    addAllPagesToCollections: true
permalink: "/{{ item.id | slug }}/"
tags: ["Portfolio","Blog"] # All tags must be included here or 11ty will not generate a collection
layout: # you can't dynamically set templates in 11ty so using Nunjucks below
---
  {% copyAirtableImages page, item.Images, tags %}

  {% block post %}
       {{ item.Content | safe }}
  {% endblock %}

{% if item.Template %}
  {% extends "_includes/" + item.Template + ".html"  %}
{% else %}
  {% extends "_includes/post.njk"  %}
{% endif %}