---
pagination:
    data: content.data.Content
    size: 1
    alias: item
    addAllPagesToCollections: true
permalink: "/test/{{ item.id | slug }}/"
layout: ""
tags: ["Portfolio","Blog"] # All tags must be included here or 11ty will not generate a collection
---
{% block post %}
  {% copyAirtableImages page, item.Images, tags %}
  {{ item.Content | safe }}
 {% endblock %}

{% block styles %}
  
{% endblock %}

{% extends "_includes/post.njk" %}





  title: "{{ item.title }}"
  img: "/test/{{ item.id | slug }}/{{item.thumbnail}}"