---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - nav
    - tagList
    - draft
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ tag }} - Bentley Davis"
permalink: /{{ tag.toLowerCase() }}/
layout:
---
{% block content %}
  <div class="content">

    <h1>{{ tag }}</h1>

    {% set items = collections[ tag ] %}

    <div class="card-deck">
        {%- for item in items | reverse -%}
            <a href="{{item.url}}">
                <div class="card">
                    {% if item.data.img %}
                        <amp-img class="card-img-top" src="{{item.data.img}}" alt="{{ item.data.title }}" layout="responsive" height="200" width="200" ></amp-img>
                    {% else %}
                        <div class="bigtext" >{{ item.data.title }}</div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item.data.title }}</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
        {%- endfor -%}
    </div>
  </div>
{% endblock %}

<style>
{% block styles %}
.fixed-height-container {
  position: relative;
  width: 100%;
  height: 300px;
}

.card-deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-deck .card {
  margin-bottom: 15px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 200px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  max-width: 200px;
}

amp-img.card-img-top {
  width: 200px;
  height: 200px;
}

amp-img.card-img-top img {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  object-fit: cover;
}

img {
  vertical-align: middle;
  border-style: none;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  padding: 0 1.25rem;
  height: 100px;
}

.card-title {
  margin-bottom: .75rem;
}

.card-text:last-child {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .card-deck {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: -15px;
    margin-left: -15px;
  }
}

@media (min-width: 576px) {
  .card-deck .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 10px;
  }
}

.bigtext {
  height: 200px;
  width: 200px;
  font-size: xxx-large;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
{% endblock %}

</style>

{% extends "_includes/base.njk" %}