{% block content %}
  {% include './hero.fragment.html' %}
  {% include './about.fragment.html' %}
  {% include './portfolio.fragment.njk' %}
  {% include './skills.fragment.njk' %}
  {% include './recomendations.fragment.njk' %}
  {% include './volunteer.fragment.njk' %}
  {% include './personality.fragment.html' %}
  {% include './elsewhere.fragment.html' %}
 {% endblock %}

{% block styles %}
  {% include 'grid.css' %}

  {% include './hero.css' %}
  {% include './elsewhere.css' %}
  {% include './skills.css' %}
  {% include './recomendations.css' %}
{% endblock %}

{% block head %}
  <script
    async="async"
    custom-element="amp-script"
    src="https://cdn.ampproject.org/v0/amp-script-0.1.js"
  ></script>
  <script
    async
    custom-element="amp-social-share"
    src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"
  ></script>
  <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
{% endblock %}

{% extends "_includes/base.njk" %}
